aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asgiref
asttokens
attrs
autopep8
backcall
beautifulsoup4
bleach
certifi
chardet
charset-normalizer
colorama
dataclasses-json
decorator
defusedxml
distro
Django
django-cors-headers
django-silk
djangorestframework
djangorestframework_simplejwt
docopt
drf-spectacular
executing
fastjsonschema
filelock
frozenlist
fsspec
gprof2dot
greenlet
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna
inflection
ipython
jedi
Jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchain-together
langsmith
MarkupSafe
marshmallow
matplotlib-inline
mistune
mpmath
multidict
mypy-extensions
nbclient
nbconvert
nbformat
networkx
numpy
openai
orjson
packaging
pandocfilters
parso
pickleshare
pillow
pipreqs
platformdirs
prompt_toolkit
propcache
pure_eval
pycodestyle
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
python-dateutil
python-dotenv
PyYAML
pyzmq
referencing
regex
reportlab
requests
requests-toolbelt
rpds-py
safetensors
six
sniffio
soupsieve
SQLAlchemy
sqlparse
stack-data
sympy
tenacity
tiktoken
tinycss2
tokenizers
tornado
tqdm
traitlets
typing-inspect
typing_extensions
tzdata
uritemplate
urllib3
wcwidth
webencodings
yarg
yarl
zstandard
